{
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "module": true,
        "require": true,
        "artifacts": true
    },
    "parserOptions": {
        "sourceType": "module"
    }
}